<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
            th:src="@{static/js/jquery-1.12.4.min.js}"></script>
    <link
            th:href="@{static/bootstrap-3.3.7-dist/css/bootstrap.min.css}"
            rel="stylesheet">
    <script
            th:src="@{static/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <!--vue-->
    <link rel="shortcut icon" href="#"/>
    <script type="text/javascript" th:src="@{static/js/vue.js}"></script>
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script type="text/javascript" th:src="@{static/js/axios.min.js}"></script>


</head>
<body>

<!--bookstarp网格系统-->
<!-- 搭建显示页面 -->
<div class="container" id="div_container">
    <!-- 标题 -->
    <div class="row">
        <div class="col-md-12">
            <h1>SSM-CRUD BY XuY</h1>
        </div>
    </div>
    <!-- 按钮 -->
    <div class="row">
        <div class="col-md-4 col-md-offset-9">
            <button class="btn btn-primary" data-toggle="modal" data-target="#add_emp_modal" id="add_emp_btn" onclick="getDepts()">新增</button>
<!--            <button class="btn btn-primary" id="add_btn" @click="getDepts">新增</button>-->
            <button class="btn btn-danger">删除</button>
        </div>
    </div>
    <!-- 显示表格数据 -->
    <div class="row" id="listTable">
        <div class="col-md-12">
            <table class="table table-hover" id="emp_table">
                <tr>
                    <th>#</th>
                    <th>empName</th>
                    <th>gender</th>
                    <th>email</th>
                    <th>deptName</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="info_div">
        </div>
        <div class="col-md-6" id="navigate_div">
        </div>
    </div>
</div>
<!--    bootStrap模态框：增加框-->
<div class="modal fade" id="add_emp_modal" tabindex="-1" role="dialog" aria-labelledby="addEmpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增员工</h4>
            </div>
            <!--                <%&#45;&#45; 表单部分 &#45;&#45;%>-->
            <div class="modal-body">
                <form id="add_emp_form" th:action="@{/emp}" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="emp_name_input" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10 has-feedback">
                            <input type="text" class="form-control" id="emp_name_input" placeholder="OneIce"
                                   name="empName" onchange="nameChangePrompt();change()">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <!--                                <%&#45;&#45; 显示错误信息 &#45;&#45;%>-->
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emp_email_input" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10 has-feedback">
                            <input type="email" class="form-control has-feedback" id="emp_email_input"
                                   placeholder="oneice@foxmail.com"
                                   name="email" onchange="emailChangePrompt();change()">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <!--                                <%&#45;&#45; 显示错误消息 &#45;&#45;%>-->
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emp_gender_input1" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input checked type="radio" name="gender" id="emp_gender_input1" value="男"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="emp_gender_input2" value="女"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emp_dept_select" class="col-sm-2 control-label">部门</label>
                        <div class="col-sm-4">
                            <select id="emp_dept_select" name="dId" class="form-control">
                                <!--                                    <%&#45;&#45; 从数据库中查询部门信息 &#45;&#45;%>-->
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <!--                <%&#45;&#45; 保存和关闭按钮 &#45;&#45;%>-->
            <div class="modal-footer">
                <button id="emp_close_btn" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--                    <button id="emp_save_btn" type="button" class="btn btn-primary" disabled onclick="saveEmp">保存</button>-->
                <button id="emp_save_btn" type="button" class="btn btn-primary" onclick="saveEmp()" disabled="true">保存</button>
                <!--                    <%&#45;&#45; 默认禁用 &#45;&#45;%>-->
            </div>
        </div>
    </div>
</div>
<script>
    //打开网站就请求员工数据
    $(function () {
        var app=new Vue({
            el:"#div_container",
            data:{},
            methods:{
                firstPage:function (page, rows) {
                    axios({
                        method:"get",
                        url:"http://localhost:8080/ssm/emp",
                        params:{
                            page:page,
                            rows:rows
                        }
                    }).then(function (response) {
                        buildEmpsTable(response.data.extend.pageInfo.list);
                        buildPageInfo(response.data.extend.pageInfo);
                        buildPageNavigate(response.data.extend.pageInfo)
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
            }
        });
        app.firstPage(1,5);
    })

    // 员工信息
    function buildEmpsTable(list) {
        $.each(list, function () {
            var empTr = $("<tr></tr>")
            // var empCbTd = $('<td><input class="check_item" type="checkbox"></td>')
            var empIdTd = $("<td></td>").append(this.empId)
            var empNameTd = $("<td></td>").append(this.empName)
            var genderTd = $("<td></td>").append(this.gender == "M" ? "男" : "女")
            var emailTd = $("<td></td>").append(this.email)
            //避免部门为null
            var deptNameTd = $("<td></td>").append(this.department ? this.department.deptName : "")
            var editBtn = $("<button></button>").addClass("btn btn-info btn-sm edit_btn").append($("<span></span>")
                .addClass("glyphicon glyphicon-edit")).append(" 编辑").attr("emp_id", this.empId)
            var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm delete_btn").append($("<span></span>")
                .addClass("glyphicon glyphicon-trash")).append(" 删除").attr("emp_id", this.empId)
            var operatorTd = $("<td></td>").append(editBtn).append(" ").append(delBtn)
            // empTr.append(empCbTd).append(empIdTd).append(empNameTd).append(genderTd).append(emailTd).append(deptNameTd).append(operatorTd)
                empTr.append(empIdTd).append(empNameTd).append(genderTd).append(emailTd).append(deptNameTd).append(operatorTd)
                .appendTo("#emp_table")
        })
    }

    //尾行信息条
    function buildPageInfo(pageInfo) {
        $("#info_div").empty() //清空原信息
        pageNum = pageInfo.pageNum
        pages = pageInfo.pages
        total = pageInfo.total
        $("#info_div").append('当前第'+pageNum+'页, 共'+pages+'页, 共'+total+'条记录')
    }
    //构建导航条
    function buildPageNavigate(pageInfo) {
        $("#navigate_div").empty() //清空原导航条
        var ul = $("<ul></ul>").addClass("pagination")
        //首页和上一页
        var firstPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("首页"))
        var prePageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("&laquo;"))
        //没有上一页时禁用掉按钮
        if (!pageInfo.hasPreviousPage) {
            firstPageLi.addClass("disabled")
            prePageLi.addClass("disabled")
        }
        //绑定单击事件
        clickToPage(firstPageLi, 1, pageInfo.pageSize)
        clickToPage(prePageLi, pageInfo.prePage, pageInfo.pageSize)
        ul.append(firstPageLi).append(prePageLi)
        //遍历中间页码
        $.each(pageInfo.navigatepageNums, function () {
            var pageNumLi = $("<li></li>").append($("<a></a>").attr("href", "#").append(this))
            //高亮当前页的页码
            if (pageInfo.pageNum == this) {
                pageNumLi.addClass("active")
            }
            //绑定单击事件
            clickToPage(pageNumLi, this, pageInfow.pageSize)
            ul.append(pageNumLi)
        })
        //下一页和末页
        var nextPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("&raquo;"))
        var lastPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("末页"))
        //绑定单击事件
        clickToPage(nextPageLi, pageInfo.nextPage, pageInfo.pageSize)
        clickToPage(lastPageLi, pageInfo.pages, pageInfo.pageSize)
        //没有下一页时禁用掉按钮
        if (!pageInfo.hasNextPage) {
            nextPageLi.addClass("disabled")
            lastPageLi.addClass("disabled")
        }
        ul.append(nextPageLi).append(lastPageLi)
        //创建导航条, 显示到页面上
        var nav = $("<nav></nav>").append(ul)
        $("#navigate_div").append(nav)
    }
    //构建导航条
    // function buildPageNavigate(pageInfo) {
    //     $("#navigate_div").empty() //清空原导航条
    //     var ul = $("<ul></ul>").addClass("pagination")
    //     //首页和上一页
    //     var firstPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("首页"))
    //     var prePageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("&laquo;"))
    //     //没有上一页时禁用掉按钮
    //     if (!pageInfo.hasPreviousPage) {
    //         firstPageLi.addClass("disabled")
    //         prePageLi.addClass("disabled")
    //     }
    //     //绑定单击事件
    //     clickToPage(firstPageLi, 1, pageInfo.pageSize)
    //     clickToPage(prePageLi, pageInfo.prePage, pageInfo.pageSize)
    //     ul.append(firstPageLi).append(prePageLi)
    //     //遍历中间页码
    //     $.each(pageInfo.navigatepageNums, function () {
    //         var pageNumLi = $("<li></li>").append($("<a></a>").attr("href", "#").append(this))
    //         //高亮当前页的页码
    //         if (pageInfo.pageNum == this) {
    //             pageNumLi.addClass("active")
    //         }
    //         //绑定单击事件
    //         clickToPage(pageNumLi, this, pageInfow.pageSize)
    //         ul.append(pageNumLi)
    //     })
    //     //下一页和末页
    //     var nextPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("&raquo;"))
    //     var lastPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("末页"))
    //     //绑定单击事件
    //     clickToPage(nextPageLi, pageInfo.nextPage, pageInfo.pageSize)
    //     clickToPage(lastPageLi, pageInfo.pages, pageInfo.pageSize)
    //     //没有下一页时禁用掉按钮
    //     if (!pageInfo.hasNextPage) {
    //         nextPageLi.addClass("disabled")
    //         lastPageLi.addClass("disabled")
    //     }
    //     ul.append(nextPageLi).append(lastPageLi)
    //     //创建导航条, 显示到页面上
    //     var nav = $("<nav></nav>").append(ul)
    //     $("#navigate_div").append(nav)
    // }
    //为导航条页码绑定单击事件
    function clickToPage(obj, page, rows) {
        //按钮对象, 页码, 记录数
        $(obj).click(function () {
            if (!$(this).hasClass("disabled") && !$(this).hasClass("active")) {
                toPage(page, rows)
            }
            return false
        })
    }
    // 页面跳转函数
    function toPage(page, rows) {
        axios({
            method:"get",
            url:"http://localhost:8080/ssm/emp",
            params:{
                page:page,
                rows:rows
            }
        }).then(function (response) {
            $("#emp_table").empty();
            buildEmpsTable(response.data.extend.pageInfo.list);
            buildPageInfo(response.data.extend.pageInfo);
            buildPageNavigate(response.data.extend.pageInfo)
        }).catch(function (error) {
            console.log(error);
        });
    }
    /**
     * 增加
     * 待解决：疑问一
     * */
    // 增加框添加部门信息
    function getDepts() {
        $("#emp_dept_select").empty()
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/ssm/dept",
            dataType: "json",
            success: function (result) {
                $.each(result.extend.deptList, function () {
                    var option = $("<option></option>").attr("value", this.deptId).append(this.deptName)
                    $("#emp_dept_select").append(option)
                })
            }
        })
    }
    //    疑问一：为什么该ajks发送请求后需要无参构造器
    function saveEmp() {
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/ssm/emp",
            dataType: "json",
            data: $("#add_emp_form").serialize(),
            success: function (result) {
                alert("访问结束后并未出现回调函数,原因推测：在点击保存按钮后函数嗲用saveEmp函数，由上而下执行函数语句，当执行到ajks请求时" +
                    "由于ajks请求为异步请求，在发出请求后继续执行后面语句，函数执行结束ajks请求仍未回调完成")
            }
        })
        $("#emp_name_input").empty()
        $("#emp_email_input").empty()
        $("#add_emp_modal").modal("hide")//添加完毕后关闭模态框
    }
    /**
     * 校验
     * 功能实现：输入框失去焦点后自动进行校验，并由校验结果决定是否解除保存按钮的禁用
     * */
    function change() {
        if (nameChangePromptJudge()&&emailChangePromptJudge()) {
            $("#emp_save_btn").prop("disabled", false)
        } else { //无效时禁用按钮
            $("#emp_save_btn").prop("disabled", true)
        }
    }
    function nameChangePrompt(){
        //校验姓名
        var empName = $("#emp_name_input").val()
        var regName = /(^[a-zA-Z0-9_-]{3,16}$)|(^[\u2E80-\u9FFF]{2,8}$)/ //匹配2-8位中文, 或3-16字母下划线数字
        if (regName.test(empName)) { //姓名格式正确
            //Ajax再校验姓名是否存在
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/ssm/checkEmpName",
                data: $("#emp_name_input").serialize(),
                dateType: "json",
                success: function (result) {
                    if (result.errorCode == "00000") {
                        showValidateMsg("#emp_name_input", "success", "")
                    } else if (result.errorCode == "A0111") { //姓名已存在
                        showValidateMsg("#emp_name_input", "error", "该员工姓名已存在, 请重新输入")
                    } else {
                        showValidateMsg("#emp_name_input", "error", "姓名错误, 请重新输入")
                    }
                }
            })
        } else { //姓名格式错误
            showValidateMsg("#emp_name_input", "error", "姓名格式错误, 必须是2-8位中文, 或3-16字母下划线数字")
        }
    }
    function nameChangePromptJudge(){
        //校验姓名
        var empName = $("#emp_name_input").val()
        var regName = /(^[a-zA-Z0-9_-]{3,16}$)|(^[\u2E80-\u9FFF]{2,8}$)/ //匹配2-8位中文, 或3-16字母下划线数字
        var flag = 0
        if (regName.test(empName)) { //姓名格式正确
            //Ajax再校验姓名是否存在
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/ssm/checkEmpName",
                data: $("#emp_name_input").serialize(),
                dateType: "json",
                async: false,
                success: function (result) {
                    if (result.errorCode == "00000") {
                        flag = 1;
                        return flag
                    }
                }
            })
        } else { //姓名格式错误
            return false;
        }
        if (flag==1){
            return true
        }else return false
    }
    function emailChangePrompt(){
        //校验邮箱
        var empEmail = $("#emp_email_input").val()
        var regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/ //匹配电子邮箱
        if (regEmail.test(empEmail)) { //邮箱格式正确
            showValidateMsg("#emp_email_input", "success", "")
        } else { //邮箱格式错误
            showValidateMsg("#emp_email_input", "error", "邮箱格式错误")
        }
    }
    function emailChangePromptJudge(){
        //校验邮箱
        var empEmail = $("#emp_email_input").val()
        var regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/ //匹配电子邮箱
        if (regEmail.test(empEmail)) { //邮箱格式正确
            return true
        } else { //邮箱格式错误
            return false
        }
    }
    //显示校验结果信息
    function showValidateMsg(selector, status, msg) { //选择器, 结果状态, 结果信息
        //初始化状态
        $(selector).parent().removeClass("has-error has-success")
        $(selector).nextAll(".glyphicon").removeClass("glyphicon-remove glyphicon-ok")
        $(selector).nextAll(".help-block").text("")
        if (status == "success") {
            $(selector).parent().addClass("has-success") //颜色
            $(selector).nextAll(".glyphicon").addClass("glyphicon-ok") //图标
            $(selector).nextAll(".help-block").text(msg) //提示信息
        } else if (status == "error") {
            $(selector).parent().addClass("has-error")
            $(selector).nextAll(".glyphicon").addClass("glyphicon-remove")
            $(selector).nextAll(".help-block").text(msg)
        }
    }
</script>
</body>
</html>